*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-orange-color: #e67e22;
    --secondary-orangeDark-color: #cf6d17;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ----------REUSABLE COMPONENTS STARTS ----------  */
.row{
    max-width: 1140px;
    margin: 0 auto;
}
h1, h2, h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2::after{
    display: block;
    height: 2px;
    width: 100px;
    content: " ";
    background-color:#e67e22;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

.box{
    padding: 1%;
}

section{
    padding: 80px 0;
}
/* ----------REUSABLE COMPONENTS ENDS ----------  */

/* -------------HEADER STARTS-------------  */

    /* -------------HEADER NAVIGATION STARTS-------------  */
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    list-style: none;
    float: right;
    margin-top: 50px;
}

.main-nav li{
    margin-left: 40px;
    display: inline-block;
}

.main-nav li a:link, .main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
    /* -------------HEADER NAVIGATION ENDS-------------  */



    /* -------------HEADER heading STARTS-------------  */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.705) , rgba(0, 0, 0, 0.705)) , url(./img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}



.head-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
}
    /* -------------HEADER heading ENDS-------------  */


    /* -------------BUTTON UNDER HEADING STARTS------------- */

.btn:link , .btn:visited{
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    margin-right: 15px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link , .btn-full:visited{
    color: #fff;
    background-color: #e67e22;
    border: 1px solid #e67e22;

}

.btn-ghost:link , .btn-ghost:visited{
    color: #e67e22;
    border: 1px solid #e67e22;
}

.btn:hover , .btn:active{
    background-color: #cf6d17;
}

.btn-full:hover , .btn-full:active{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover , .btn-ghost:active{
    color: #fff;
    border: 1px solid #cf6d17;
}

    /* -------------BUTTON UNDER HEADING ENDS-------------  */

/* -------------HEADER ENDS-------------  */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* -------------SECTION FEATURE STARTS-------------  */
.box p{
    line-height: 145%;
    font-size: 90%;
}

.section-feature .long-copy{
    margin-bottom: 30px;
}

.icon-big{
    font-size: 250%;
    color: var(--primary-orange-color);
    display: block;
    margin-bottom: 10px;
}
/* -------------SECTION FEATURE ENDS-------------  */


/* -------------SECTION MEALS STARTS-------------  */
.section-meal{
    padding: 0;
}

.meal-showcase{
    list-style: none;
    width: 100%;
}

.meal-showcase li{
    width: 25%;
    float: left;
    height: auto;
}

.meal-photo{
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.meal-photo img{
    
    opacity: 0.7;
    width: 100%;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}
/* -------------SECTION MEALS ENDS-------------  */
