*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/* HEADER STARTS  */

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.705) , rgba(0, 0, 0, 0.705)) , url(./img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header .head-text-box h1{
    margin: 0;
}

.head-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}